.env
__pycache__/
*.pyc
*.db
*.json
venv/
.venv/
quickhire-frontend/node_modules/
quickhire-frontend/dist/*
*.csv
rzp-key.csv*
GOOGLE_SERVICE_ACCOUNT_JSON.json
GOOGLE_SERVICE_ACCOUNT_JSON.json

../GOOGLE_SERVICE_ACCOUNT_JSON.json
